# ~/.config/mpd/conf.d/site.conf:jeff
#
#

port  "6600"
bind_to_address "0.0.0.0"

# IMPORTANT(jeff): Provisioning a local socket for MPD allows `mpc add` and
# friends to work; MPD_HOST=/home/jeff/.config/mpd/socket
bind_to_address "~/.config/mpd/socket"

playlist_directory  "/mnt/fs1/Music/playlists"
# NOTE(JEFF): retrans=0 mimics the soft mount behavior
#
# SEE ALSO
# 1. [libnfs: README](https://github.com/sahlberg/libnfs/blob/master/README)
# 2. [libnfs: error definitions](https://github.com/sahlberg/libnfs/blob/master/nfs4/nfs4.x)
#
# FIXME(JEFF): Using NFS4 results in NFS4ERR_EXPIRED and related file locking
# error messages when we try to use it.
#
#music_directory "nfs://fs1.home/mnt/npool0/smb/Music?version=4&debug=9&uid=500&gid=29"
music_directory "nfs://fs1.home/mnt/npool0/smb/Music?version=3&debug=9&uid=500&gid=29"

log_file  "~/.config/mpd/log"
pid_file  "~/.config/mpd/pid"
state_file  "~/.config/mpd/state"
sticker_file  "~/.config/mpd/stickers.db"

# Files and directories #######################################################

# IMPORTANT(jeff): Let systemd handle this for us
#user "jeff"
#group "audio"

# Symbolic link behavior ######################################################

follow_outside_symlinks             "no"
follow_inside_symlinks              "yes"

# General music daemon options ################################################

gapless_mp3_playback                "yes"
save_absolute_paths_in_playlists    "yes"
metadata_to_use                     "artist,album,title,track,name,date,disc,genre,comment"
auto_update                         "yes"
auto_update_depth                   "4"
restore_paused                      "no"
state_file_interval                 "60"

# Permissions #################################################################
#
# We have a total of three authorization levels:
#
# a) admin
# b) authorized
# c) guest
#

default_permissions "read,add,control,admin"
#default_permissions "read"

# Administrative
#password  "180576934@read,add,control,admin"
#password  "666@read,add,control"

# default, verbose, secure
#log_level  "verbose"
log_level "default"
