#
# proxmox-backup-client@user.service
#
# NOTE(JEFF): This service requires user privileges
#
# systemctl --user enable proxmox-backup-client@jeff.timer
# systemctl --user start proxmox-backup-client@jeff.timer
# systemctl --user start proxmox-backup-client@jeff.service
#

[Unit]
Description=Backup %h home dir
Documentation=https://pbs.proxmox.com/docs/backup-client.html#
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=%h/.config/proxmox-backup/pbs1.password
#ExecStart=/opt/sbin/backup-host.sh home
ExecStart=%h/local/bin/backup-host.sh system
Restart=no
