[submodule "mpv/.config/mpv/scripts/mpv-cut"]
	path = mpv/.config/mpv/scripts/mpv-cut
	url = https://github.com/familyfriendlymikey/mpv-cut
	branch = main
[submodule "tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
	branch = master
[submodule "tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
[submodule "tmux-continuum"]
	path = tmux/.tmux/plugins/tmux-continuum
	url = https://git::@github.com/tmux-plugins/tmux-continuum
[submodule "tmux/.tmux/plugins/tmuxinator"]
	path = tmux/.tmux/plugins/tmuxinator
	url = https://git::@github.com/tmuxinator/tmuxinator
	branch = master
