.DS_Store
aria2/
config/
ref/
mpd/mpdscribble.conf

# temporary project data
*.bck
tmp

tmux/.tmux/
tmux/.tmux/plugins
vim/bundle

# Atom sync
/.atom/blob-store/
/.atom/compile-cache/
/.atom/packages/
/.atom/storage/
