"*":
  "bracket-matcher":
    autocompleteBrackets: false
    highlightMatchingLineNumber: true
  core:
    audioBeep: false
    automaticallyUpdate: false
    colorProfile: "srgb"
    customFileTypes:
      "text.plain": [
        "language-ini"
      ]
    disabledPackages: [
      "node-debug"
      "node-requirer"
      "autocomplete-snippets"
      "snippets"
      "sync-settings-git-location"
    ]
    packagesWithSnippetsDisabled: [
      "language-powershell"
    ]
    projectHome: "~/Projects"
    reopenProjectMenuCount: 8
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    uriHandlerRegistration: "always"
  editor:
    defaultFontSize: 12
    fontFamily: "Source Code Pro"
    fontSize: 17
    invisibles: {}
    lineHeight: 1.4
    preferredLineLength: 78
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "5f0033ff-3917-46e8-a8a6-b38030f36e8d"
  "file-icons":
    coloured: false
  "ide-powershell":
    developer: {}
  "linter-markdownlint":
    executablePath: "/home/jeff/.rbenv/shims/mdl"
    severity: "error"
  "linter-ui-default":
    panelHeight: 227.40000915527344
    useBusySignal: false
  "markdown-preview":
    breakOnSingleNewline: true
  "platformio-ide-terminal":
    core:
      mapTerminalsTo: "Folder"
      mapTerminalsToAutoOpen: true
    style: {}
  "project-plus":
    newWindow: true
    projectHome: " ~/Projects"
    showPath: true
  "save-session":
    dataSaveFolder: "~/.pulsar/packages/save-session/projects"
  "sync-settings":
    autoCheckForUpdatedBackup: "backup"
    gistId: "b741c86a039f977d48542fb32ed401eb"
    hiddenSettings:
      _lastBackupTime: "2021-11-27T07:01:23Z"
    ignoreEol: true
    personalAccessToken: "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"
    quietUpdateCheck: true
  "sync-settings-git-location": {}
  "tree-view": {}
  welcome:
    lastViewedChangeLog: "1.119.0"
    showOnStartup: false
".powershell.source":
  editor:
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
".shell-session.text":
  editor:
    autoIndent: true
    preferredLineLength: 78
    scrollPastEnd: true
".shell.source":
  editor:
    preferredLineLength: 78
    softWrap: false
".source.tmux":
  editor:
    preferredLineLength: 78
"platformio-ide":
  core:
    customPATH: "~/.platformio/bin"
    useBuiltinPIOCore: false
