[
  {
    title: "dotfiles"
    paths: [
      "/home/jeff/dotfiles.git"
    ]
    color: "green"
  }
  {
    title: "notes"
    paths: [
      "/home/jeff/Notes.git"
      "/home/jeff/Projects/syn-net"
      "/home/jeff/proxmox-notes.git"
      "/home/jeff/Projects/arduino/sketches"
      "/home/jeff/Notes.git/pdns"
    ]
    color: "grey"
  }
  {
    title: "proxmox-notes"
    paths: [
      "/home/jeff/proxmox-notes.git"
      "/home/jeff/dotfiles.git"
    ]
    color: "grey"
  }
  {
    title: "ttcards"
    paths: [
      "/mnt/fs1/Projects/ttcards.git"
    ]
    color: "grey"
  }
  {
    title: "nomlib"
    paths: [
      "/mnt/fs1/Projects/nomlib.git"
    ]
    color: "grey"
  }
  {
    title: "messagebin"
    group: "git/i8degrees-net"
    paths: [
      "/mnt/fs1/Projects/i8degrees-net/messagebin.git"
    ]
    color: "pink"
  }
  {
    title: "robocopy"
    paths: [
      "/home/jeff/Projects/i8degrees-net/robocopy.git"
    ]
    color: "pink"
  }
]
