#
# proxmox-backup-client@.service
#
# NOTE(JEFF): This service requires root privileges
#
# systemctl enable proxmox-backup-client@root.timer
# systemctl enable proxmox-backup-client@root.service
# systemctl start proxmox-backup-client@root.timer
# #systemctl start proxmox-backup-client@root.service

[Unit]
Description=Backup the root filesystems
Documentation=https://pbs.proxmox.com/docs/backup-client.html#
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
#Environment=XDG_STATE_HOME=/var/lib
EnvironmentFile=-/var/lib/proxmox-backup/pbs1.password
#ExecStart=/opt/sbin/backup-host.sh system
ExecStart=%h/local/bin/backup-host.sh system
Restart=no
