[Unit]
Description=Daily backup of root to pbs1.home

[Timer]
OnCalendar=14:30:00 America/Chicago
#Persistent=true
#WakeSystem=true

[Install]
WantedBy=timers.target

