#
# proxmox-backup-client.service
#
# NOTE(JEFF): This service requires root privileges
#
# systemctl enable proxmox-backup-client.timer
# systemctl start proxmox-backup-client.timer
# systemctl start proxmox-backup-client.service

[Unit]
Description=Backup the root filesystems
Documentation=https://pbs.proxmox.com/docs/backup-client.html#
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-/var/lib/proxmox-backup/pbs1.password
ExecStart=/home/jeff/local/bin/backup-host.sh system
Restart=never

