[Desktop Entry]
Categories=Utility;Development;
Comment=A system monitor for X
Exec=/bin/sh -c "conky --unique --xinerama-head=1 --daemonize --config=$HOME/.config/conky/duchys.conf"
GenericName=Conky
Icon=conky
Name=Conky
StartupNotify=true
Type=Application
Hidden=false
