[Desktop Entry]
Categories=FileManager;Utility;Core;Qt;
Comment=Start pcmanfm-qt in daemon mode as a companion to its main shortcut
Exec=pcmanfm-qt -d
GenericName=File Manager
Icon=pcmanfm-qt
MimeType=inode/directory;
Name=PCManFM-Qt File Manager (daemon mode)
StartupNotify=true
Type=Application
