# Atom sync
.atom-socket-secret-jeff-1.58.0
/.atom/.apm/
!/.atom/.apm/.apmrc
/.atom/blob-store/
/.atom/compile-cache/
/.atom/packages/
/.atom/recovery/
/.atom/storage/
/.atom/.node-gyp/
/.atom/nohup.out
