# Atom sync
/.pulsar/.apm/
!/.pulsar/.apm/.apmrc
/.pulsar/.pulsar-socket-secret*
/.pulsar/blob-store/
/.pulsar/compile-cache/
/.pulsar/packages/
!/.pulsar/packages/README.md
/.pulsar/recovery/
/.pulsar/storage/
/.pulsar/.node-gyp/
/.pulsar/nohup.out

